<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Painel Usuario</title>
<link rel="stylesheet"
	href="../../resources/assets/bootstrap/css/bootstrap.min.css"
	th:href="@{/resources/assets/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="../../resources/assets/bootstrap-dropdown-hover/css/animate.min.css"
	th:href="@{/resources/assets/bootstrap-dropdown-hover/css/animate.min.css}">
<link rel="stylesheet"
	href="../../resources/assets/bootstrap-dropdown-hover/css/bootstrap-dropdownhover.min.css"
	th:href="@{/resources/assets/bootstrap-dropdown-hover/css/bootstrap-dropdownhover.min.css}">

<!--  <link rel="stylesheet" href="../../resources/assets/OwlCarousel2/dist/css/owl.carousel.min.css" 
    th:href="@{/resources/assets/OwlCarousel2/dist/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../../resources/assets/OwlCarousel2/dist/css/owl.theme.default.min.css" 
    th:href="@{/resources/assets/OwlCarousel2/dist/css/owl.theme.default.min.css}">
    <link rel="stylesheet" href="../../resources/assets/css/navbar.css" 
    th:href="@{/resources/assets/css/navbar.css}">
    <link rel="stylesheet" href="../../resources/assets/css/section.desc.css" 
    th:href="@{/resources/assets/css/section.desc.css}">
    <link href="../../resources/assets/css/footer.css" rel="stylesheet"  
    th:href="@{/resources/assets/css/footer.css}"/>
    <link href="../../resources/assets/css/cards.css" rel="stylesheet"  
    th:href="@{/resources/assets/css/cards.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
<style>
.parallax-window {
	min-height: 600px;
	background: transparent;
}
</style>

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Dropdown </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Action</a> <a
							class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div></li>
				<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>


</body>


</html>