<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/layout}">
<head>
<title>Portal das Disciplinas</title>
<link th:block layout:fragment="style" rel="stylesheet"
	href="../../../resources/assets/css/disciplinas.css"
	th:href="@{/resources/assets/css/disciplinas.css}">
</head>
<body>
	<div layout:fragment="content">
		<!--<div class="row">
			<div class="col-md-12 col-sm-12 d-flex justify-content-center">
				<div class="h1">I am groot</div>
			</div>
			<div class="col-md-12 col-sm-12 d-flex justify-content-center">
				<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum
					faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
			</div>
		</div>
		<hr>-->
		<div class="row">
			<div class="col-3">
				<div class="nav flex-column nav-pills" id="v-pills-tab"
					role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
						href="#v-pills-home" role="tab" aria-controls="v-pills-home"
						aria-selected="true">Home</a> <a class="nav-link"
						id="v-pills-profile-tab" data-toggle="pill"
						href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
						aria-selected="false">Profile</a> <a class="nav-link"
						id="v-pills-messages-tab" data-toggle="pill"
						href="#v-pills-messages" role="tab"
						aria-controls="v-pills-messages" aria-selected="false">Messages</a>
					<a class="nav-link" id="v-pills-videos-tab" data-toggle="pill"
						href="#v-pills-videos" role="tab" aria-controls="v-pills-videos"
						aria-selected="false">Vídeos</a>
				</div>
			</div>
			<div class="col-9">
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="v-pills-home"
						role="tabpanel" aria-labelledby="v-pills-home-tab">XD</div>
					<div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
						aria-labelledby="v-pills-profile-tab">XD 1</div>
					<div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
						aria-labelledby="v-pills-messages-tab">XD 2</div>
					<div class="tab-pane fade" id="v-pills-videos" role="tabpanel"
						aria-labelledby="v-pills-videos-tab">
						<div class="owl-carousel owl-theme">
						    <div class="item-video" data-merge="3"><iframe width="460" height="215" src="https://www.youtube.com/embed/XnNRtBG_x-U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
						    <div class="item-video" data-merge="3"><iframe width="460" height="215" src="https://www.youtube.com/embed/XnNRtBG_x-U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
						    <div class="item-video" data-merge="3"><iframe width="460" height="215" src="https://www.youtube.com/embed/XnNRtBG_x-U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
						    <div class="item-video" data-merge="3"><iframe width="460" height="215" src="https://www.youtube.com/embed/XnNRtBG_x-U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>