<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="conteudo" th:fragment="foot">
		<div class="container-fluid text-center text-md-left">
			<div class="row">
				<div class="col-md-6 mt-md-0 mt-3">
					<h5 class="text-uppercase footer-title two-colors">Dúvidas?</h5>
					<p class="footer-descrition">Todos os nossos contatos estão
						listados aqui.</p>
					<p class="footer-descrition">Sugestões, dúvidas, agradecimentos
						ou caso queira fazer parte do time, por favor, fale conosco.</p>
					<p class="footer-descrition">E-mail:
						portal.disciplinas@gmail.com</p>
				</div>
				<hr class="clearfix w-100 d-md-none pb-3">
				<div class="col-md-3 mb-md-0 mb-3">
					<h5 class="text-uppercase footer-list-title">Quem somos?</h5>
					<ul class="list-unstyled">
						<li class="mb-2"><a href="#">Prof. Eugênio</a></li>
						<li class="mb-2"><a href="#!">Gildo Cordeiro</a></li>
						<li class="mb-2"><a href="#!">Gileno Cordeiro</a></li>
						<li class="mb-2"><a href="#!">Moisés Catônio</a></li>
					</ul>
				</div>
				<div class="col-md-3 mb-md-0 mb-3">
					<h5 class="text-uppercase footer-list-title">Redes Socias</h5>
					<ul class="list-unstyled">
						<li class="mb-2"><a href="#!">Facebook</a></li>
						<li class="mb-2"><a href="#!">Instagram</a></li>
						<li class="mb-2"><a href="#!">Twitter</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright text-center py-3">
			© 2020 Copyright: <a href="#">IMD</a>
		</div>
	</div>
</body>
</html>