<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Entrar</title>
<link rel="stylesheet"
	href="../../../resources/assets/bootstrap/css/bootstrap.min.css"
	th:href="@{/resources/assets/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../../../resources/assets/css/login.css"
	th:href="@{/resources/assets/css/login.css}">
</head>
<body>
	<div class="container">
		<section class="form-section">
			<div class="form-wrapper col-md-4">
				<form th:action="@{/login}" method="post">
					<div class="input-block">
						<label for="login-email">Username</label> <input type="text"
							name="username" id="username" />
					</div>
					<div class="input-block form-group">
						<label for="login-password">Senha</label> <input type="password"
							name="password" id="senha" class="form-control" />
					</div>
					<button type="submit" class="btn-login">Login</button>
					<a th:href="@{/registrar}" type="button" class="btn-sigin">Cadastre-se</a>
				</form>
			</div>
		</section>
	</div>
	<ul class="squares"></ul>
	<script th:src="@{/resources/assets/js/login.js}"></script>
</body>
</html>