<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastrar</title>
  <link rel="stylesheet" href="../../../resources/assets/bootstrap/css/bootstrap.min.css" 
    th:href="@{/resources/assets/bootstrap/css/bootstrap.min.css}">    
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="../../../resources/assets/css/cadastro.css" 
    th:href="@{/resources/assets/css/cadastro.css}">  
</head>
<body>
	<div class="col-md-12 col-sm-12">
		<div class="cadastro-wrap">
			<div class="cadastro-html">
				<form th:action="@{/salvarUsuario}" th:object="${usuario}" method="post" id="formCadastro">
					<div class="form-group">
			    		<label for="nome">Nome Completo</label>
			    		<input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Seu nome" required="required">
			  		</div>
			  		<div class="form-group">
			    		<label for="email">Email</label>
			    		<input type="email" class="form-control" id="email" th:field="*{email}" aria-describedby="emailHelp" placeholder="Seu email" required="required">
		    			<small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
			  		</div>
			  		<div class="form-group">
		    			<label for="senha">Senha</label>
			    		<input type="password" class="form-control" id="senha" th:field="*{senha}" placeholder="Senha" required="required">
		  			</div>
		  			<div class="form-group">
		    			<label for="senha">Confirmar senha</label>
			    		<input type="password" class="form-control" id="confirmSenha" placeholder="Confirmar Senha" required="required">
		  			</div>
		  			<div class="row mt-3">
				  		<div class="col-md-3">
				  		 	<div class="custom-control custom-radio">
						      <input type="radio" class="custom-control-input" id="prof" th:value="PROFESSOR" th:field="*{tipo}" name="usuario" required="required">
						      <label class="custom-control-label" for="prof">Professor</label>
						    </div>				  			
				  		</div>	
				  		<div class="col-md-9">
				  			<div class="custom-control custom-radio">
						      <input type="radio" class="custom-control-input" id="aluno" th:value="ALUNO" th:field="*{tipo}" name="usuario" required="required">
						      <label class="custom-control-label" for="aluno">Aluno</label>
						    </div>
				  		</div>			  		
				  	</div>	
				  	<div class="row">
				  		<div class="col-md-12">
				  			<button type="submit" class="btn btn-secondary btn-lg btn-block">Registrar</button>
				  		</div>	
				  	</div>	  		
				</form>
			</div>
		</div>
	</div>
	<footer class="section footer-creative context-dark">
    	<div th:insert="layout/footer :: foot"></div>
    	<script type="text/javascript" src="../../../resources/assets/js/cadastrar.js"
    	th:src="@{/resources/assets/js/cadastrar.js}"></script>
    </footer>
</body>
</html>