<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/layout}">
<head>
<meta charset="UTF-8">
<title>Cadastrar disciplinas</title>
<link th:block layout:fragment="style" rel="stylesheet"
	href="../../../resources/assets/css/disciplinas.css"
	th:href="@{/resources/assets/css/disciplinas.css}">
</head>
<body>
	<div class="col-md-12 col-sm-12" layout:fragment="content">
		<div class="page-header" align="center">
			<h1>Cadastro de disciplinas</h1>
		</div>
		<p align="center">This is some text.</p>
		<hr>
		<form action="#" method="post" class="needs-validation mt-5"
			novalidate="novalidate" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<label for="codigo">Código</label> <input type="text"
							class="form-control" id="codigo" placeholder="Ex.: 3467JKS"
							required="required">
						<div class="valid-feedback">OK!</div>
						<div class="invalid-feedback">Por favor, preencha o codigo.
						</div>
					</div>
					<div class="form-group">
						<label for="nome">Nome</label> <input type="text"
							class="form-control" id="nome" placeholder="Nome"
							required="required">
						<div class="valid-feedback">OK!</div>
						<div class="invalid-feedback">Por favor, preencha o nome.</div>
					</div>
					<div class="form-group">
						<div class="mb-3">
							<label for="desc">Descrição</label>
							<textarea class="form-control" id="desc"
								placeholder="Coloque a descrição da disciplina aqui" rows="3"
								required="required"></textarea>
							<div class="invalid-feedback">Por favor, preecha o campo
								com alguma mensagem.</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="form-group mb-3" style="margin-top: 32px !important;">
						<select class="custom-select" id="turmas" required="required">
							<option value="">Selecionar turma</option>
							<option value="2">2</option>
						</select>
						<div class="invalid-feedback">Por favor, escolha uma opção.
						</div>
					</div>
					<div class="custom-file" style="margin-top: 32px !important;">
						<input type="file" class="custom-file-input" id="file"
							required="required"> <label class="custom-file-label"
							for="file">Escolher thumb da disciplina...</label>
						<div class="invalid-feedback">Valor invalido.</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 mt-4" align="center">
					<button type="submit"
						class="btn btn-outline-success col-md-3 col-sm-12"
						style="height: 38px;">
						<span class="material-icons">add_circle_outline</span>
					</button>
				</div>
			</div>
		</form>
	</div>
	<script th:block layout:fragment="script"
		src="../../../resources/assets/js/validacao-forms.js"
		th:src="@{/resources/assets/js/validacao-forms.js}"></script>
</body>
</html>