<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{templates/layout}">
<head>
<meta charset="UTF-8">
<title>Disciplinas</title>
<link rel="stylesheet" th:block layout:fragment="style"
	href="../../../resources/assets/css/disciplinas.css"
	th:href="@{/resources/assets/css/disciplinas.css}">
</head>
<body>
	<section class="section section-md bg-default"
		layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-5 offset-md-7">
					<form action="#" method="get">
						<div class="form-group">
							<label for="search">Pesquisar</label> <input type="email"
								class="form-control" id="search" aria-describedby="search"
								placeholder="Ex.: FMC - I">
						</div>
						<button type="submit"
							class="btn btn-outline-success col-md-2 col-sm-2 offset-md-10"
							style="height: 38px">
							<span class="material-icons">search</span>
						</button>
					</form>
				</div>
				<div class="col-md-12 mt-5">
					<div class="row" th:if="${disciplinas != null}">
						<div class="col-md-4" th:each="disciplina : ${disciplinas}">
							<div class="card mb-3">
								<img class="card-img-top"
									alt="Card image cap" th:src="@{${disciplina.pathImage}}">
								<div class="card-body">
									<h5 class="card-title" th:text="${disciplina.nome}"></h5>
									<p class="card-text">
										<b>Código: </b><span th:text="${disciplina.codigo}"></span>
									</p>
									<p class="card-text">
										<b>Professor: </b><span th:each="prof : ${disciplina.professores}" th:text="${prof.nome}"></span>
									</p>
									<p class="card-text">
										<b>Semestre: </b><span th:text="${disciplina.semestre}"></span>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row" th:if="${disciplinas== null}">
						<div class="col-md-4">
							<div class="card mb-3">
								<img class="card-img-top"
									src="../../../resources/imagens/cardbrandS.jpg"
									alt="Card image cap"
									th:src="@{/resources/imagens/cardbrandS.jpg}">
								<div class="card-body">
									<h5 class="card-title">Fundamentos Matematicos
										Computacionias - I</h5>
									<p class="card-text">
										<b>Código: </b>1FE34G
									</p>
									<p class="card-text">
										<b>Professor: </b>BIG THANOS
									</p>
									<p class="card-text">
										<b>Semestre Atual: </b>BIG THANOS
									</p>
									<p class="card-text">
										<small class="text-muted">Last updated 3 mins ago</small>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-3">
								<img class="card-img-top"
									src="../../../resources/imagens/cardbrandS.jpg"
									alt="Card image cap"
									th:src="@{/resources/imagens/cardbrandS.jpg}">
								<div class="card-body">
									<h5 class="card-title">Fundamentos Matematicos
										Computacionias - I</h5>
									<p class="card-text">
										<b>Código: </b>1FE34G
									</p>
									<p class="card-text">
										<b>Professor: </b>BIG THANOS
									</p>
									<p class="card-text">
										<b>Semestre Atual: </b>BIG THANOS
									</p>
									<p class="card-text">
										<small class="text-muted">Last updated 3 mins ago</small>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-3">
								<img class="card-img-top"
									src="../../../resources/imagens/cardbrandS.jpg"
									alt="Card image cap"
									th:src="@{/resources/imagens/cardbrandS.jpg}">
								<div class="card-body">
									<h5 class="card-title">Fundamentos Matematicos
										Computacionias - I</h5>
									<p class="card-text">
										<b>Código: </b>1FE34G
									</p>
									<p class="card-text">
										<b>Professor: </b>BIG THANOS
									</p>
									<p class="card-text">
										<b>Semestre Atual: </b>BIG THANOS
									</p>
									<p class="card-text">
										<small class="text-muted">Last updated 3 mins ago</small>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-3">
								<img class="card-img-top"
									src="../../../resources/imagens/cardbrandS.jpg"
									alt="Card image cap"
									th:src="@{/resources/imagens/cardbrandS.jpg}">
								<div class="card-body">
									<h5 class="card-title">Fundamentos Matematicos
										Computacionias - I</h5>
									<p class="card-text">
										<b>Código: </b>1FE34G
									</p>
									<p class="card-text">
										<b>Professor: </b>BIG THANOS
									</p>
									<p class="card-text">
										<b>Semestre Atual: </b>BIG THANOS
									</p>
									<p class="card-text">
										<small class="text-muted">Last updated 3 mins ago</small>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-3">
								<img class="card-img-top"
									src="../../../resources/imagens/cardbrandS.jpg"
									alt="Card image cap"
									th:src="@{/resources/imagens/cardbrandS.jpg}">
								<div class="card-body">
									<h5 class="card-title">Fundamentos Matematicos
										Computacionias - I</h5>
									<p class="card-text">
										<b>Código: </b>1FE34G
									</p>
									<p class="card-text">
										<b>Professor: </b>BIG THANOS
									</p>
									<p class="card-text">
										<b>Semestre Atual: </b>BIG THANOS
									</p>
									<p class="card-text">
										<small class="text-muted">Last updated 3 mins ago</small>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-3">
								<img class="card-img-top"
									src="../../../resources/imagens/cardbrandS.jpg"
									alt="Card image cap"
									th:src="@{/resources/imagens/cardbrandS.jpg}">
								<div class="card-body">
									<h5 class="card-title">Fundamentos Matematicos
										Computacionias - I</h5>
									<p class="card-text">
										<b>Código: </b>1FE34G
									</p>
									<p class="card-text">
										<b>Professor: </b>BIG THANOS
									</p>
									<p class="card-text">
										<b>Semestre Atual: </b>BIG THANOS
									</p>
									<p class="card-text">
										<small class="text-muted">Last updated 3 mins ago</small>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>