.page-footer{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,212,255,1) 100%);
	/*https://cssgradient.io/*/
}
.list-unstyled li a, .footer-title, .footer-descrition, .footer-list-title{
	color: #ffffff;
	font-family: serif;
}
.footer-copyright, .footer-copyright > a{
	color: #ffffff;
}