.page-footer{
	background: rgb(244,244,244);
	background: linear-gradient(180deg, rgba(244,244,244,1) 0%, rgba(128,218,255,1) 100%);
	/*https://cssgradient.io/*/
}
.list-unstyled li a, .footer-title, .footer-descrition, .footer-list-title{
	color: #343a40;
	font-family: serif;
}
.footer-copyright, .footer-copyright > a{
	color: #343a40;
}