
.dropdown:hover > .dropdown-menu{
    display: block;
}

.navbar{
    background-color: transparent;
}
.nav-header{
 	background-color: rgba(131,111,255,0.2);
}
#button-nav{
	border-radius: 15px;
	font-family: sans-serif;
	font-weight: bolder;
	border: 2px solid #000000;
}
#button-nav:hover{
	border: 2px solid #ffffff;
	color: #ffffff;
}
.texto-inicial{
	margin-top: 280px;
}
.texto-inicial > h1, .lead{
	color: #ffffff;
	text-shadow: 1px 1px 2px black; 
}
.navbar-collapse{
    background-color: transparent;
}

.navbar-nav{
    margin-left: 0px;
}

/*animação do dropdown do menu inicial*/
.dropdown-menu{
    width: 11vw;
    border-radius: 0px;
    font-weight: 400;
    font-size: 1em;
    line-height: 25px;
    text-decoration: none;
    padding: 10px;
    list-style-type: none;
    -webkit-animation: mymove 0.5s;
    animation: mymove 0.5s;
    background-color: #fff;
    -webkit-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
    -moz-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
    box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
}

li.dropdown:hover ul.dropdown-menu{
    display: block;
}
.dropdown-menu a:hover{
  color: #11257c;
}

.dropdown-menu li{
  border-bottom: 1px solid #ccc;
  padding: 20px;
  display:block;
}
.nav-item a{
    font-weight: bolder;

}
.dropdown-menu a{
 color: #444;
 text-decoration: none;
 text-transform: capitalize;
}
@keyframes mymove {
    from {
      left:  100px;
         height: 0px;
         opacity: 0;
         border-bottom:0px;
    }
    to {
        height: auto;
    }
}
.navbar-nav a.nav-link{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 0px !important;
    color: #ffffff !important;
}
ul.navbar-nav li.nav-item{
  margin: 0 20px;
}

ul.navbar-nav .nav-item:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}
.navbar-nav .nav-item:hover:after {
    width: 100%;
    background:#11257c;
}