<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Portal das Disciplinas</title>
<link rel="stylesheet"
	href="../../resources/assets/bootstrap/css/bootstrap.min.css"
	th:href="@{/resources/assets/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="../../resources/assets/bootstrap-dropdown-hover/css/animate.min.css"
	th:href="@{/resources/assets/bootstrap-dropdown-hover/css/animate.min.css}">
<link rel="stylesheet"
	href="../../resources/assets/bootstrap-dropdown-hover/css/bootstrap-dropdownhover.min.css"
	th:href="@{/resources/assets/bootstrap-dropdown-hover/css/bootstrap-dropdownhover.min.css}">

<link rel="stylesheet"
	href="../../resources/assets/OwlCarousel2/dist/css/owl.carousel.min.css"
	th:href="@{/resources/assets/OwlCarousel2/dist/css/owl.carousel.min.css}">
<link rel="stylesheet"
	href="../../resources/assets/OwlCarousel2/dist/css/owl.theme.default.min.css"
	th:href="@{/resources/assets/OwlCarousel2/dist/css/owl.theme.default.min.css}">
<link rel="stylesheet" href="../../resources/assets/css/navbar.css"
	th:href="@{/resources/assets/css/navbar.css}">
<link rel="stylesheet"
	href="../../resources/assets/css/section.desc.css"
	th:href="@{/resources/assets/css/section.desc.css}">
<link href="../../resources/assets/css/footer.css" rel="stylesheet"
	th:href="@{/resources/assets/css/footer.css}" />
<link href="../../resources/assets/css/cards.css" rel="stylesheet"
	th:href="@{/resources/assets/css/cards.css}" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
.parallax-window {
	min-height: 600px;
	background: transparent;
}
</style>

</head>
<body>
	<header class="section page-header parallax-window"
		data-parallax="scroll" id="inicio"
		th:data-image-src="@{/resources/imagens/header-background.jpg}"
		data-image-src="../../resources/imagens/header-background.jpg">
		<nav class="navbar navbar-expand-lg fixed-top nav-header"
			style="height: 70px;">
			<div class="container">
				<nav class="navbar navbar-light">
					<a class="navbar-brand" href="#"> <!-- <img th:src="@{/resources/imagens/ufrnPreto.png}" src="../../resources/imagens/ufrnPreto.png" width="150" height="90" alt="">-->
					</a>
				</nav>

				<button class="pull-left navbar-toggler" type="button"
					data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav navbar-left ml-auto">
						<li class="nav-item"><a class="nav-link item" href="#inicio">Inicio</a>
						</li>
						<li class="nav-item"><a class="nav-link item"
							href="#portal-disciplinas">Portal das disciplinas?</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle item" href="#"
							id="navbarDropdown" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> Informações </a>
							<div class="dropdown-menu" id="drop">
								<a class="dropdown-item" href="#">Action</a> <a
									class="dropdown-item" href="#">Another action</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Something else here</a>
							</div></li>
						<li class="nav-item"><a class="nav-link item" href="#footer">Contato</a>
						</li>
					</ul>
				</div>
				<div class="navbar navbar-light">
					<ul class="nav navbar-nav navbar-right"
						sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PROFESSOR','ROLE_ALUNO')">
						<li class="dropdown">
						<a href="#" class="dropdown-toggle"	data-toggle="dropdown" id="drop-perfil"> 
						<strong class="nav"	style="font-size: 20px;"> 
						<span> <img	height="25px" style="border-radius: 25px;" th:src="@{/resources/imagens/blendS.jpg}" src="" alt="">
								</span> <span class="perfil"></span>
							</strong>
						</a>
							<ul class="dropdown-menu" id="drop-menu">
								<li>
									<div class="navbar-login">
										<div class="col-lg-12">
											<p class="text-center">
												<span> <img src="" height="150px"
													th:src="@{/resources/imagens/blendS.jpg}"
													class="rounded-circle" style="border-color: #ff6600;"
													alt="avatar">
												</span>
											</p>
										</div>
										<div class="col-md-12 text-center"></div>
									</div>
								</li>
								<li>
									<div class="navbar-login navbar-login-session">
										<div class="col-md-12">
											<form th:action="@{/logout}" method="post">
												<button type="submit" class="btn btn-danger btn-block">LOGOUT</button>
											</form>
										</div>
									</div>
								</li>
							</ul></li>
					</ul>
				</div>
				<div class="navbar navbar-light"
					sec:authorize="hasRole('ROLE_ANONYMOUS')">
					<a th:href="@{/login}" class="btn btn-lg btn-outline-primary"
						id="button-nav"> ENTRAR </a>
				</div>
			</div>
		</nav>
		<div class="col-md-12">
			<div
				class="row justify-content-center align-items-center text-center">
				<div class="texto-inicial">
					<h1 class="cover-heading">Portal das Disciplinas - IMD</h1>
					<div class="container">
						<p class="lead">Não há mais motivos para ficar com duvidas
							sobre as disciplinas ofertadas no Instituto Metropole Digital.
							Nosso site dispõe de informações que podem ser crucias no momento
							da sua escolha das disciplinas. Esqueça as conversas incertas de
							corredor e venha conhecer nossa plataforma!</p>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="section section-md bg-default text-center mt-5"
		id="portal-disciplinas">
		<div class="container">
			<h3>
				Bem vindo ao <span class="text-primary">Portal das
					Disciplinas</span>
			</h3>
			<p class="text-spacing-05">Um lugar desenvolvido de alunos para
				alunos</p>
			<div
				class="row justify-content-center align-items-center text-left mt-5">
				<div class="d-block col-lg-6 col-md-6 ml-0">
					<div class="col-md-10 col-lg-3 d-flex ml-0">
						<figure class="figure-responsive block-5 ml-2">
							<img src="../../resources/imagens/mat.jpg"
								th:src="@{/resources/imagens/mat.jpg}" alt="" width="150"
								height="120" />
						</figure>
						<figure class="figure-responsive block-5 ml-2">
							<img src="../../resources/imagens/fisica.jpg"
								th:src="@{/resources/imagens/fisica.jpg}" alt="" width="150"
								height="120" class="ml-" />
						</figure>
						<figure class="figure-responsive block-5 ml-2">
							<img src="../../resources/imagens/ciencia.jpg"
								th:src="@{/resources/imagens/ciencia.jpg}" alt="" width="150"
								height="120" />
						</figure>
					</div>

					<div class="col-md-10 col-lg-3 d-flex">
						<figure class="figure-responsive block-5 ml-2">
							<img th:src="@{/resources/imagens/trabalhos_escolares.png}"
								src="../../resources/imagens/trabalhos_escolares.png" alt=""
								width="150" height="120" />
						</figure>
						<figure class="figure-responsive block-5 ml-2">
							<img src="../../resources/imagens/cabecaEngrenagem.jpg"
								th:src="@{/resources/imagens/cabecaEngrenagem.jpg}" alt=""
								width="150" height="120" class="ml-" />
						</figure>
						<figure class="figure-responsive block-5 ml-2">
							<img src="../../resources/imagens/program.jpg"
								th:src="@{/resources/imagens/program.jpg}" alt="" width="150"
								height="120" />
						</figure>
					</div>
				</div>

				<div class="col-md-10 col-lg-6">
					<div class="row row-50 row-xl-70">
						<div class="row">
							<div class="col-sm-6">
								<h5 class="box-line-title" style="text-align: justify;">Conheça
									suas disciplinas de forma divertida</h5>
							</div>
							<div class="col-sm-6 ">
								<h5 class="box-line-title" style="text-align: justify;">Descubra
									quais matérias mais combinam com você</h5>
							</div>
							<div class="col-sm-12">
								<hr>
							</div>
						</div>
						<div class="row mt-2 ">
							<div class="col-sm-6">
								<h5 class="box-line-title" style="text-align: justify;">
									Com nosso sistema de <a href="#"><span style="color: blue;">match</span></a>
									você pode acompanhar de perto obeservações sobre a
									disciplina/professor
								</h5>
							</div>
							<div class="col-sm-6">
								<h5 class="box-line-title" style="text-align: justify;">Divirta-se
									enquanto conhece seu curso</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section
		class="section section-md bg-default text-center mt-5 rallax-window"
		data-parallax="scroll"
		data-image-src="../../resources/imagens/midlle-img.jpg"
		th:data-image-src="@{/resources/imagens/midlle-img.jpg}"
		id="section-02">
		<div class="container container-fullwidth">
			<div class="mt-5">
				<h3 id="titulo"
					style="color: #ffffff; position: relative; padding-top: 60px;">Nossa
					Forma de te apresentar as Disciplinas</h3>
				<div class="owl-carousel owl-carousel-stretch owl-loaded  mt-5"
					data-items="1" data-sm-items="2" data-md-items="3"
					data-lg-items="3" data-xl-items="5" data-xxl-items="6"
					data-dots="true" data-nav="false" data-stage-padding="1"
					data-loop="false" data-margin="26" data-md-margin="20"
					data-lg-margin="26" data-autoplay="true"
					data-autoplay-timeout="3500" data-mouse-drag="false">
					<div class="owl-stage-outer">
						<div class="owl-stage" style="margin-bottom: 20px">
							<div class="owl-item active">
								<div class="card" style="width: 18rem;">
									<img class="card-img-top"
										th:src="@{/resources/imagens/ciencia.jpg}"
										src="../../resources/imagens/ciencia.jpg" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">Some quick example text to build on
											the card title and make up the bulk of the card's content.</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>
							</div>
							<div class="owl-item active">
								<div class="card" style="width: 18rem;">
									<img class="card-img-top"
										th:src="@{/resources/imagens/ciencia.jpg}"
										src="../../resources/imagens/ciencia.jpg" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">Some quick example text to build on
											the card title and make up the bulk of the card's content.</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>
							</div>
							<div class="owl-item active">
								<div class="card" style="width: 18rem;">
									<img class="card-img-top"
										th:src="@{/resources/imagens/ciencia.jpg}"
										src="../../resources/imagens/ciencia.jpg" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">Some quick example text to build on
											the card title and make up the bulk of the card's content.</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>
							</div>
							<div class="owl-item active">
								<div class="card" style="width: 18rem;">
									<img class="card-img-top"
										th:src="@{/resources/imagens/ciencia.jpg}"
										src="../../resources/imagens/ciencia.jpg" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">Some quick example text to build on
											the card title and make up the bulk of the card's content.</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="owl-nav">
						<div class="owl-prev"></div>
						<div class="owl-next"></div>
					</div>
					<div class="owl-dots">
						<div class="owl-dot active">
							<span></span>
						</div>
						<div class="owl-dot">
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="page-footer font-small blue pt-4" id="footer">
		<div class="container" th:insert="templates/footer::foot"></div>
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="../../resources/assets/bootstrap/js/bootstrap.min.js"
			th:src="@{/resources/assets/bootstrap/js/bootstrap.min.js}"></script>
		<script
			src="../../resources/assets/bootstrap-dropdown-hover/js/bootstrap-dropdownhover.min.js"
			th:src="@{/resources/assets/bootstrap-dropdown-hover/js/bootstrap-dropdownhover.min.js}"
			type="text/javascript"></script>
		<script
			src="../../resources/assets/OwlCarousel2/dist/js/owl.carousel.min.js"
			th:src="@{/resources/assets/OwlCarousel2/dist/js/owl.carousel.min.js}"></script>
		<script src="../../resources/assets/parallax.js-1.5.0/parallax.js"
			th:src="@{/resources/assets/parallax.js-1.5.0/parallax.js}"></script>
		<script src="../../resources/assets/js/navbar.js"
			th:src="@{/resources/assets/js/navbar.js}"></script>
		<script src="../../resources/assets/js/script.js"
			th:src="@{/resources/assets/js/script.js}"></script>
	</footer>
</body>
</html>