<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login Form</title>
  <link rel="stylesheet" href="../../resouces/assets/bootstrap/css/bootstrap.min.css" 
    th:href="@{/resources/assets/bootstrap/css/bootstrap.min.css}">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<div class="sidenav">
		<div class="login-main-text">
			<h2>
				Application<br> Login Page
			</h2>
			<p>Login or register from here to access.</p>
		</div>
	</div>
	<div class="main">
		<div class="col-md-6 col-sm-12">
			<div class="login-form">
				<form>
					<div class="form-group">
						<label>User Name</label> <input type="text" class="form-control"
							placeholder="User Name">
					</div>
					<div class="form-group">
						<label>Password</label> <input type="password"
							class="form-control" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-black">Login</button>
					<a th:href="@{/registrar}" class="btn btn-secondary">Register</a>
				</form>
			</div>
		</div>
	</div>
	<footer class="section footer-creative context-dark">
    	<div th:insert="layout/footer :: foot"></div>
    </footer>
</body>
</html>